{% load static %}

<html>
<head>
  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="{% static 'jquery.csv.js' %}"></script>
</head>

<body>
  <div id="message"></div>
  <div id="csv"></div>
  <div id="chart"></div>

  <script> // wait till the DOM is loaded
    $(function() { // grab the CSV
      $.get("{% static 'numbers.csv' %}", function(csvString) {
        // display the contents of the CSV
        $("#csv").html(csvString);
      });
    });
  </script>

  <script type="text/javascript"> // load the visualisation API, everything first
      google.load('visualization', '1', { packages: ['corechart', 'controls'] });
      google.charts.load('current', {'packages':['line']})
  </script>

  <script type="text/javascript">
    google.setOnLoadCallback(drawChart);

    function drawChart() {
       $.get("{% static 'numbers.csv' %}", function(csvString) {
          // transform the CSV string into a 2-dimensional array
          var arrayData = $.csv.toArrays(csvString, {onParseValue: $.csv.hooks.castToScalar});
          // this new DataTable object holds all the data
          var data = new google.visualization.arrayToDataTable(arrayData);
          var view = new google.visualization.DataView(data); view.setColumns([0,1]);
          var options = {
                          chart: {
                            title: "Prices",
                            legend: 'none'
                          },
                          width: 1600,
                          height: 600,
                          vAxis: {
                            title: 'Price in USD',
                            viewWindow: {
                              min: 0,
                            }
                          },
                          hAxis: {
                            title: 'Time',
                            format: 'dd/MM/yyyy HH:mm'
                          }
                         };
          var chart = new google.charts.Line(document.getElementById('chart'));
          chart.draw(view, google.charts.Line.convertOptions(options));
          // var chart = new google.visualization.ScatterChart(document.getElementById('chart'));
       });
    }
</script>


</body>
</html>
